.featuresSection {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 2rem;
    background-color: transparent;
    max-width: 1300px;
    display: flex;
    align-self: center;
    border-radius: 30px;
    padding: 30px;
  }
  
  .featureContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
  
  .featureContainer.reverse {
    flex-direction: row-reverse;
  }
  
  .featureText {
    flex: 1;
  }
  
  .featureText h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
  }
  
  .featureText p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1.5rem;
  }
  
  .featureText .ctaButton {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .featureText .ctaButton:hover {
    background-color: #0056b3;
  }
  
  .featureImage {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .featureImage img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  